
a{
    text-decoration: none;
    color: #00008B;
    
    
}

a:hover{
    color: #0d6efd;
}

/* Navbar */
.navbar{
    padding-top: 0px;
    padding-bottom:0px
}

.navbar-brand{
    padding-top: 0px;
    padding-bottom: 0px;
}


#navbarSupportedContent li{
    
    padding-left: 15px;
    padding-right: 15px;
}

#navbarSupportedContent a{
    
    
    color:#00008B;
    font-size: 14px;
    font-weight: 600;
}

#navbarSupportedContent a:hover{
    color: #0d6efd;
}

/* Title */

#title{
    padding-left: 12.5%;
    padding-right: 12.5%;
    margin-top: 85px;
    
    color:#00008B;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 600;
}


#title h1{
    color: #333;
    font-family: Helvetica;
    font-weight: 600;
    font-size: 42px;
}

/* categoryModal */
#categoryModal{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom:0px;
    transform: scale(0);
    transition: 500ms ease;
    z-index: 9999;
    background-color: #fff;
    padding-left: 12.5%;
    padding-right: 12.5%;
    padding-top: 20px;
}

#categoryModal.activate{
    transform: scale(1);
}

#logo-and-closeButton button{
    border: none;
    background-color: #fff;
    font-weight: 600;
    font-size: 40px;
}

#categoryList ul{
    margin-top: 12px;
    list-style-type: none;
    text-align: center;
}

#categoryList li{
    
    margin-bottom: 12px;
    font-size: 35px;
    font-weight: 600;
}



/*Footer*/
#footer p{
    font-family: Helvetica;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
}

#footer ul{
    list-style-type: none;
    padding: 0px;
}

#footer li{
    padding-bottom: 20px;
    
}